*.pdf
*.svg
*.pptx
*._.DS_Store
*.DS_Store
results
figures
*.out
*.err
*.RData
*.html
*.htm
*._*
*.pyc
code/meta_download.py
code/io_util.py
data/gisaid_metadata/metadata_files/
data/case_data/Marshfield_flu_B_cases.csv
data/case_data/Marshfield_cases.csv
data/seroprevalence_data/hongkongflu.sqlite
data/NPICS_data/
